@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap');
:root {
  --sans-serif: 'Inter', sans-serif;
  --heading: 'Inter', sans-serif;

  --color-white: #fff;
  --color-black: #000;

  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-hover: var(--color-black);

  --width-xs: 21rem;
  --width-s: 30rem;
  --width-m: 42rem;
  --width-l: 56rem;

  --spacing-s: .6rem;
  --spacing-m: 2rem;
  --spacing-l: 5rem;
  --spacing-xl: 9rem;

  --font-s: .7rem;
  --font-m: 1.4rem;
  --font-l: 2.2rem;
  --font-xl: 3rem;
}

body.dark {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-hover: var(--color-white);
}

@media (max-width: 800px) {
  body {
    --spacing-m: 1rem;
  }
}


/* MEDIA QUERIES — — — — — — — — — — — — */

$media-s: 700px;
$media-m: 1000px;
$media-l: 1600px;
$media-xl: 1900px;
