@import url("https://use.typekit.net/xsu1tls.css");

:root {
  --sans-serif: soleil, sans-serif;

  --color-white: #fff;
  --color-black: #000;
  --color-red: rgb(21, 8, 56);

  --color-background: var(--color-red);
  --color-text: var(--color-white);

  --width-xs: 21rem;
  --width-s: 30rem;
  --width-m: 42rem;
  --width-l: 56rem;

  --spacing-l: 5rem;
  --spacing-m: 1.3rem;
  --spacing-s: 1rem;

  --font-s: .8rem;
  --font-m: 1.8rem;
  --font-l: 2.2rem;
}


/* MEDIA QUERIES — — — — — — — — — — — — */

$media-s: 700px;
$media-m: 1000px;
$media-l: 1600px;
$media-xl: 1900px;
